body {
    background-color: #0056b3;
}

header {
    width: 100%;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #203542;
    background-color: #fff;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
}

.logo {
    display: flex;
    align-items: center;
}

.logo h3 {
    position: relative;
    margin: auto;
    text-indent: 7px;
    font-size: 35px;
    cursor: default;
    text-decoration: none;
}

.logo img {
    height: 50px;
}

.nav-buttons {
    display: flex;
    gap: 15px;
}

.nav-buttons a {
    text-decoration: none;
    color: #203542;
    padding: 10px 15px;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.nav-buttons a:hover {
    color: #fff;
    background-color: #7825d6;
}

#particles-js {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #0056b3;
}

.main-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 100%;
    width: 100%;
    margin-top: 50px;
}

.main-content h1 {
    position: relative;
    top: 25%;
    left: 5%;
    font-size: 3em;
    color: #f5f5f5;
    cursor: default;
    z-index: 1;
}

.main-content p {
    position: relative;
    top: 27%;
    left: 5%;
    color: #fff;
}

.profile{
    position: absolute;
    top: 50%;
    left: 85%;
    transform: translate(-50%,-50%);
    border-radius: 50%;
    height: 300px;
    width: 300px;
    background-color: white;
    display: flex;
    justify-content: center;
    border: 7px solid #0056b3;
}

.profile .name{
    position: relative;
    top: 94%;
    height: 30px;
    width: 160px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 7px;
    color: #7825d6;
    background-color: #fff;
}

.about {
    position: absolute;
    top: 160%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 80%;
    width: 95%;
    border-radius: 17px;
    overflow: hidden;
    margin-top: 50px;
    border: 3px solid white;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #fff;
}

#about {
    position: absolute;
    top: 110%;
    left: 5%;
    opacity: 0;
}

.about-txt {
    position: absolute;
    top: 115%;
    left: 5%;
    opacity: 0;
}