{% extends 'base.html' %}
{% block page_title %}{{ page_title }}{% endblock page_title %}
{% block content %}
<link rel="stylesheet" href="../static/login.css">
<link rel="stylesheet" href="../static/pricing.css" />
<link rel="stylesheet" href="../static/about.css">

<header>
    <div class="logo">
        <a href="https://rb.gy/qws0y9"><img src="../static/favicon.png" alt="Logo"></a>
        <h3> Eternal's Hub</h3>
    </div>
    <div class="nav-buttons">
        <a href="#">Home</a>
        <a href="#about">About</a>
        <a href="#pricing">Pricing</a>
        <a href="{% url 'social:begin' 'google-oauth2' %}">Sign Up</a>
    </div>
</header>

<div class="main-content" id="#">
    <div id="particles-js"></div>
    <h1>Project Aditya</h1>
    <p>No BS, Just trying to help students !</p>
</div>

<div class="profile">
    <div class="name">Aditya Singh</div>
</div>


<script src="https://cdn.jsdelivr.net/npm/particles.js"></script>
<script src="../static/particles.js"></script>

<div id="about"></div>
<h1 class="about-txt">About</h1>
<div class="about">
    <div class="slider">
        <div class="item">
            <img src="https://unsplash.it/1920/1080?white" loading="eager" alt="">
            <div class='content'>
                <h2 class='title'>offers Data Visualization, Image & PPT Generation</h2>
                <p class='description'> Lorem ipsum, dolor sit amet consectetur
                    adipisicing elit. Tempore fuga voluptatum, iure corporis inventore
                    praesentium nisi. Id laboriosam ipsam enim. </p>
            </div>
        </div>
        <!-- visibele item -->
        <div class="item">
            <img src="https://unsplash.it/1920/1080?white" loading="eager" alt="Nobis Omnis" class="image" />
            <div class='content'>
                <h2 class='title'>AI based on Chat GPT Models</h2>
                <p class='description'> Lorem ipsum, dolor sit amet consectetur
                    adipisicing elit. Tempore fuga voluptatum, iure corporis inventore
                    praesentium nisi. Id laboriosam ipsam enim. </p>
            </div>
        </div>
        <div class="item">
            <img src="https://unsplash.it/1920/1080?white" loading="eager" alt="Ut Distinctio" class="image" />
            <div class='content'>
                <h2 class='title'>Supports Text & Voice Input</h2>
                <p class='description'> Lorem ipsum, dolor sit amet consectetur
                    adipisicing elit. Tempore fuga voluptatum, iure corporis inventore
                    praesentium nisi. Id laboriosam ipsam enim. </p>
            </div>
        </div>
        <div class='item'>
            <img src="https://unsplash.it/1920/1080?white" loading="eager" alt="Commodi Veniam" class="image" />
            <div class='content'>
                <h2 class='title'>Export Conversations</h2>
                <p class='description'>
                    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Tempore fuga voluptatum, iure corporis
                    inventore praesentium nisi. Id laboriosam ipsam enim.
                </p>
            </div>
        </div>
        <div class="item">
            <img src="https://unsplash.it/1920/1080?white" loading="eager" alt="Ipsam Tenetur" class="image" />
            <div class='content'>
                <h2 class='title'>Voice Output</h2>
                <p class='description'>
                    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Tempore fuga voluptatum, iure corporis
                    inventore praesentium nisi. Id laboriosam ipsam enim.
                </p>
            </div>
        </div>
        <div class="item">
            <img src="https://unsplash.it/1920/1080?white" loading="eager" alt="Nesciunt Consectetur Similique Sit"
                class="image" />
            <div class='content'>
                <h2 class='title'>File Input & Analyzing</h2>
                <p class='description'> Lorem ipsum, dolor sit amet consectetur
                    adipisicing elit. Tempore fuga voluptatum, iure corporis inventore
                    praesentium nisi. Id laboriosam ipsam enim. </p>
            </div>
        </div>
    </div>
    <nav class='nav'>
        <ion-icon class='btn prev' name="arrow-back-outline"></ion-icon>
        <ion-icon class='btn next' name="arrow-forward-outline"></ion-icon>
    </nav>

    <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
    <script>
        const slider = document.querySelector(".slider");

        function activate(e) {
            const items = document.querySelectorAll(".item");
            e.target.matches(".next") && slider.append(items[0]);
            e.target.matches(".prev") && slider.prepend(items[items.length - 1]);
        }

        document.addEventListener("click", activate, false);
    </script>
</div>

<h1 id="pricing">Pricing</h1>
<section>
    <div class="basic box">
        <h2 class="title">Basic</h2>
        <div class="cost">
            <p class="amount">₹100/-</p>
            <p class="txt">per month</p>
        </div>
        <div class="description">
            <ul>
                <li>Chat with AI</li>
                <li>Supports Text & Voice Input</li>
                <li>Export Conversations</li>
                <li>Multiple Export Format Support</li>
                <li>Voice output in English</li>
            </ul>
        </div>
        <div class="button">
            <button type="submit">Get it !</button>
        </div>
    </div>

    <div class="standard box">
        <h2 class="title">Standard</h2>
        <div class="cost">
            <p class="amount">₹250/-</p>
            <p class="txt">per month</p>
        </div>
        <div class="description">
            <ul>
                <li>Chat with AI</li>
                <li>Supports Text & Voice Input</li>
                <li>Export Conversations</li>
                <li>Multiple Export Format Support</li>
                <li>Voice output in English</li>
                <li>Supports File Input & Analyzing</li>
            </ul>
        </div>
        <div class="button">
            <button type="submit">Get it !</button>
        </div>
    </div>

    <div class="business box">
        <h2 class="title">Pro</h2>
        <div class="cost">
            <p class="amount">₹500/-</p>
            <p class="txt">per month</p>
        </div>
        <div class="description">
            <ul>
                <li>Chat with AI</li>
                <li>Supports Text & Voice Input</li>
                <li>Export Conversations</li>
                <li>Multiple Export Format Support</li>
                <li>Voice output in Multiple Languages</li>
                <li>Supports File Input & Analyzing</li>
                <li>Image & PPT Generator </li>
                <li>Access to Data Visualization Tool</li>
            </ul>
        </div>
        <div class="button">
            <button type="submit">Get it !</button>
        </div>
    </div>
</section>

<script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
<script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>

{% endblock %}